
#main-page-game{
    display: flex;
    width: 100%;
    margin-bottom: 3%;
}
/*Изображение*/
.main-page-game__image {
    position: relative;
    box-sizing: border-box;
    width: 30%;
    margin-top: 3%;
}
.main-page-game__image img {
    box-sizing: border-box;
    border-radius: 12px;
    height: 100%;
    width: 100%;
}

/**Текстовая информация об игре**/
#main-page-game__text {
    position: relative;
    box-sizing: border-box;
    width: 70%;
}
/*Название игры*/
.main-page-game__text__name {
    margin: 5% 0 2% 5%;
    font-family: Montserrat-SemiBold, serif;
    font-size: calc(var(--index) * 0.9);
    color: #FFFFFF;
    display: flex;
}
/*Описание игры*/
#main-page-game__text__description, #main-page-game__text__categories, #main-page-game__text__date, #main-page-game__text__developer, #main-page-game__text__age {
    padding: 0 5% 0 5%;
    margin-bottom: calc(var(--index) * 0.4);
    font-family: Montserrat-Regular, serif;
    font-size: calc(var(--index) * 0.6);
    color: #FFFFFF;
    text-align: justify;
}
/*Кнопка добавления в избранное*/
.main-page-game__image__btn_favorite {
    float: right;
    width: 100%;
    margin-bottom: 5%;
    border: solid 1px #AD59EF;
    font-family: Montserrat-Medium, serif;
    background-color: transparent;
    color: #939393;
    padding: 3% 3.5% calc(3% - 2px) 3.5%;
    font-size: calc(var(--index) * 0.6);
    border-radius: 12px;
    white-space: nowrap;
}
.main-page-game__image__btn_favorite:hover {
    box-shadow: 0 0 10px #AD59EF;
    cursor: pointer;
}
/*Кнопка добавления в избранное*/
.main-page-game__image__btn_not_favorite {
    float: right;
    width: 100%;
    margin-bottom: 5%;
    background-color: #AD59EF;
    border: 0;
    font-family: Montserrat-Medium, serif;
    color: #FFFFFF;
    padding: 3% 3.5% 3% 3.5%;
    font-size: calc(var(--index) * 0.6);
    border-radius: 12px;
    white-space: nowrap;
}
.main-page-game__image__btn_not_favorite:hover {
    box-shadow: 0 0 10px #AD59EF;
    cursor: pointer;
}
/*Кнопка добавления в корзину*/
.main-page-game__image__btn_basket {
    float: right;
    width: 100%;
    margin-bottom: 5%;
    background-color: #AD59EF;
    border: 0;
    font-family: Montserrat-Medium, serif;
    color: #FFFFFF;
    padding: 3% 3.5% 3% 3.5%;
    font-size: calc(var(--index) * 0.6);
    border-radius: 12px;
    white-space: nowrap;
}
.main-page-game__image__btn_basket:hover {
    box-shadow: 0 0 10px #AD59EF;
    cursor: pointer;
}

/*Заголовок раздела*/
.main-page__title {
    box-sizing: border-box;
    width: 70%;
    margin: 3% 0 1% 0;
    color: #939393;
    font-family: Montserrat-Regular, serif;
    font-size: calc(var(--index) * 0.6);
}

/**Скриншоты игры**/
#main-page__main_screenshot{
    position: relative;
    box-sizing: border-box;
    width: 99%;
    padding: 0.5% 0 0.5% 0;
}
#main-page__main_screenshot__image {
    box-sizing: border-box;
    border-radius: 12px;
    height: 100%;
    width: 100%;
}
#main-page-screenshots {
    display: flex;
    width: 100%;
    margin-bottom: 3%;
}
.main-page-screenshots__screenshot {
    position: relative;
    box-sizing: border-box;
    width: 24%;
    margin-right: 1%;
}
.main-page-screenshots__screenshot__image {
    box-sizing: border-box;
    border-radius: 12px;
    height: 100%;
    width: 100%;
}
.main-page-screenshots__screenshot__image:hover {
    cursor: pointer;
}



.main-page-game__text__rating {
    margin-left: auto;
    margin-right: 5%;
    overflow: hidden;
}
.main-page-game__text__rating:not(:checked) > input {
    display: none;
}
.main-page-game__text__rating:not(:checked) > label {
    float: right;
    width: calc(var(--index) * 1);
    padding: 0;
    cursor: pointer;
    font-size: calc(var(--index) * 0.9);
    line-height: calc(var(--index) * 1.2);
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}
.main-page-game__text__rating:not(:checked) > label:before {
    content: '★';
}
.main-page-game__text__rating > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
}
.main-page-game__text__rating:not(:checked) > label:hover,
.main-page-game__text__rating:not(:checked) > label:hover ~ label {
    color: gold;
}
.main-page-game__text__rating > input:checked + label:hover,
.main-page-game__text__rating > input:checked + label:hover ~ label,
.main-page-game__text__rating > input:checked ~ label:hover,
.main-page-game__text__rating > input:checked ~ label:hover ~ label,
.main-page-game__text__rating > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
    position: relative;
}